.board-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .board {
    margin: 0 auto;
    display: grid;
    gap: 0;
    border: 4px solid cadetblue;
  }
}
