.board-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .board {
    margin: 0 auto;
    display: grid;
    gap: 0;
    border: 4px solid cadetblue;
  }

  .board::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

.board > *:first-child{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
}
