.statistic-wrapper {
  // height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .table {
    width: 600px;
    margin: 20px auto;
    border: 1px;

    .table-head tr th {
      width: 200px;
      text-align: start;
      position: relative;

      .arrows-wrapper {
        width: 50px;
        position: relative;
        .sort-button {
          cursor: pointer;

          .arrowUp {
            position: absolute;
            bottom: 0;
          }

          .arrowDown {
            position: absolute;
            bottom: 0;
            left: 13px;
          }

          .active {
            color: blue;
          }
        }
      }
    }

    th, td {
      border: 1px solid black;
    }
  }

  .button {
    width: 200px;
    margin: 0 auto;
  }
}
